basePath: /content
definitions:
  getContentItemsRequestBody:
    properties:
      ids:
        items:
          type: string
        type: array
    type: object
host: localhost
info:
  contact: {}
  description: Rokwire Content Building Block API Documentation.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Rokwire Content Building Block API
  version: 1.0.8
paths:
  /admin/content_items:
    get:
      consumes:
      - application/json
      description: Retrieves  all content items
      operationId: AdminGetContentItems
      parameters:
      - description: Coma separated IDs of the desired records
        in: query
        name: ids
        type: string
      - description: offset
        in: query
        name: offset
        type: string
      - description: limit - limit the result
        in: query
        name: limit
        type: string
      - description: 'order - Possible values: asc, desc. Default: desc'
        in: query
        name: order
        type: string
      - description: start_date - Start date filter in milliseconds as an integer
          epoch value
        in: query
        name: start_date
        type: string
      - description: end_date - End date filter in milliseconds as an integer epoch
          value
        in: query
        name: end_date
        type: string
      - description: body json of the all items ids that need to be filtered
        in: body
        name: data
        schema:
          $ref: '#/definitions/getContentItemsRequestBody'
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
    post:
      consumes:
      - application/json
      description: Creates a new content item
      operationId: AdminCreateContentItem
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
  /admin/content_items/{id}:
    delete:
      description: Deletes a content item with the specified id
      operationId: AdminDeleteContentItem
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
    get:
      consumes:
      - application/json
      description: Retrieves a content item by id
      operationId: AdminGetContentItem
      produces:
      - application/json
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
    put:
      consumes:
      - application/json
      description: Updates a content item with the specified id
      operationId: AdminUpdateContentItem
      produces:
      - application/json
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
  /admin/health_location/{id}:
    delete:
      description: Deletes a health location with the specified id
      operationId: AdminDeleteHealthLocation
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
  /admin/health_locations:
    get:
      consumes:
      - application/json
      description: Retrieves  all health locations
      operationId: AdminGetHealthLocations
      parameters:
      - description: Coma separated IDs of the desired records
        in: query
        name: ids
        type: string
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
    post:
      consumes:
      - application/json
      description: Create a new health location
      operationId: AdminCreateHealthLocation
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
  /admin/health_locations/{id}:
    get:
      consumes:
      - application/json
      description: Retrieves a health location by id
      operationId: AdminGetHealthLocation
      produces:
      - application/json
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
    put:
      consumes:
      - application/json
      description: Updates a health location with the specified id
      operationId: AdminUpdateHealthLocation
      produces:
      - application/json
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
  /admin/image:
    post:
      consumes:
      - multipart/form-data
      description: Uploads an image to AWS S3
      operationId: AdminUploadImage
      parameters:
      - description: path - path within the S3 bucket
        in: body
        name: path
        required: true
        schema:
          type: string
      - description: width - width of the image to resize. If width and height are
          missing - then the new image will use the original size
        in: body
        name: width
        schema:
          type: string
      - description: height - height of the image to resize. If width and height are
          missing - then the new image will use the original size
        in: body
        name: height
        schema:
          type: string
      - description: 'quality - quality of the image. Default: 90'
        in: body
        name: quality
        schema:
          type: string
      - description: fileName - the uploaded file name
        in: body
        name: fileName
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
  /admin/student_guides:
    get:
      consumes:
      - application/json
      description: Retrieves  all student guides
      operationId: AdminGetStudentGuides
      parameters:
      - description: Coma separated IDs of the desired records
        in: query
        name: ids
        type: string
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
    post:
      consumes:
      - application/json
      description: Creates a student guide item
      operationId: AdminCreateStudentGuide
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
  /admin/student_guides/{id}:
    delete:
      description: Deletes a student guide item with the specified id
      operationId: AdminDeleteStudentGuide
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
    get:
      consumes:
      - application/json
      description: Retrieves  all items
      operationId: AdminGetStudentGuide
      produces:
      - application/json
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
    put:
      consumes:
      - application/json
      description: Updates a student guide with the specified id
      operationId: AdminUpdateStudentGuide
      produces:
      - application/json
      responses:
        "200":
          description: ""
      security:
      - AdminUserAuth: []
      tags:
      - Admin
  /health_locations:
    get:
      consumes:
      - application/json
      description: Retrieves  all health locations
      operationId: GetHealthLocations
      parameters:
      - description: Coma separated IDs of the desired records
        in: query
        name: ids
        type: string
      responses:
        "200":
          description: ""
      security:
      - RokwireAuth: []
      tags:
      - Client
  /health_locations/{id}:
    get:
      consumes:
      - application/json
      description: Retrieves a health location by id
      operationId: GetHealthLocation
      produces:
      - application/json
      responses:
        "200":
          description: ""
      security:
      - RokwireAuth: []
      tags:
      - Client
  /image:
    post:
      consumes:
      - multipart/form-data
      description: Uploads an image to AWS S3
      operationId: AdminUpdateStudentGuide
      parameters:
      - description: path - path within the S3 bucket
        in: body
        name: path
        required: true
        schema:
          type: string
      - description: width - width of the image to resize. If width and height are
          missing - then the new image will use the original size
        in: body
        name: width
        schema:
          type: string
      - description: height - height of the image to resize. If width and height are
          missing - then the new image will use the original size
        in: body
        name: height
        schema:
          type: string
      - description: 'quality - quality of the image. Default: 90'
        in: body
        name: quality
        schema:
          type: string
      - description: fileName - the uploaded file name
        in: body
        name: fileName
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: ""
      security:
      - UserAuth: []
      tags:
      - Client
  /student_guides:
    get:
      consumes:
      - application/json
      description: Retrieves  all student guides
      operationId: GetStudentGuides
      parameters:
      - description: Coma separated IDs of the desired records
        in: query
        name: ids
        type: string
      responses:
        "200":
          description: ""
      security:
      - RokwireAuth: []
      tags:
      - Client
  /student_guides/{id}:
    get:
      consumes:
      - application/json
      description: Retrieves a student guide by id
      operationId: GetStudentGuide
      produces:
      - application/json
      responses:
        "200":
          description: ""
      security:
      - RokwireAuth: []
      tags:
      - Client
  /twitter/users/{user_id}/tweets:
    get:
      description: Retrieves Twitter tweets for the specified user id. This API is
        intended to be invoked with the original Twitter query params to https://api.twitter.com/2/users/%s/tweets
      operationId: GetTweeterPosts
      parameters:
      - description: id
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: ""
      security:
      - RokwireAuth: []
      tags:
      - Client
  /version:
    get:
      description: Gives the service version.
      operationId: Version
      produces:
      - text/plain
      responses:
        "200":
          description: ""
      tags:
      - Client
schemes:
- https
securityDefinitions:
  AdminGroupAuth:
    in: header
    name: GROUP
    type: apiKey
  AdminUserAuth:
    in: header (add Bearer prefix to the Authorization value)
    name: Authorization
    type: apiKey
  RokwireAuth:
    in: header
    name: ROKWIRE-API-KEY
    type: apiKey
  UserAuth:
    in: header (add Bearer prefix to the Authorization value)
    name: Authorization
    type: apiKey
swagger: "2.0"
